<h1 class="h1"> Education </h1>

<span class="h2">Physics PhD Candidate</span>
<span class="content1">Georgia Institute of Technology @ Atlanta, Georgia - 2017 to Present</span>
<span class="content2">PhD Topic: Cosmological Simulations of the First Galaxies and their Observational Signatures</span>
<span class="content2 mbl">PhD Advisor: Dr. John Wise</span>

<span class="h2">Master of Science</span>
<span class="content1">Georgia Institute of Technology @ Atlanta, Georgia - 2017 to 2018</span>
<span class="content2">Major: Physics</span>
<span class="content2 mbl">Cumulative GPA: 3.66/4.00</span>

<span class="h2">Bachelor of Science</span>
<span class="content1">Florida State University @ Tallahassee, Florida - 2011 to 2017</span>
<span class="content2">Major: Physics & Astrophysics</span>                
<span class="content2">Double Minor: Computer Science and Mathematics</span> 
<span class="content2 mbl">Cumulative GPA: 3.76/4.00</span> 


<h1 class="h1"> Work Experience & Research </h1>

<span class="h2">Graduate Research Assistant</span>
<span class="content1">Georgia Institute of Technology - May 2018 to Present</span>
<span class="content2">Investigating supernova induced formation of extremely metal poor stars in 3D radiation hydrodynamics simulations of the early universe.</span>
<span class="content2 mbl">Research Asvisor: Dr. John Wise</span>                                
<span class="h2">Kavli Summer Program in Astrophysics Fellow</span>
<span class="content1">Center for Computational Astrophysics @ Flatiron Institute - Summer 2018</span>
<span class="content2">Studying the how active galactic nuclei perturb the intra galactic medium by comparing numerical simulations with Chandra observations.</span> 
<span class="content2">Research Advisors: Dr. Yuan Li and Dr. Daisuke Nagai</span>
<span class="content2 mbl">Collaborator: Dr. Irina Zhuravleva</span>                                 
<span class="h2">Graduate Teaching Assistant</span>
<span class="content1">Georgia Institute of Technology - Fall 2017 to May 2018</span> 
<span class="content2 mbl">Recitation TA for Introductory Physics 2211</span>

<span class="h2">Undergraduate Research Assistant</span>
<span class="content1">Florida State University - 2016 to 2017</span>           
<span class="content2">Studying magnetic field allignment in 3D magnetohydrodynamic simulations of turbulent molecular clouds and its influence on star formation.</span>  
<span class="content2 mbl">Research Asvisor: Dr. David Collins</span>

<h1 class="h1">Presentations</h1>

<span class="h2"><i>"Nature of AGN Feedback: Testing Numerical Models with Chandra Observations"</i></span>
<span class="content1">Center for Computational Astrophysics. New York, NY, August 2018</span>
<span class="content2 mbl">Kavli Summer Program in Astrophysics</span>

<span class="h2"><i>"Magnetic Field Alignment in Simulated Molecular Clouds"</i></span>
<span class="content1">Tallahassee, FL, September 2016 </span>
<span class="content2 mbl">President’s Showcase of Undergraduate Research Excellence.</span>                                               
<h1 class="h1">Grants and Scholorships</h1>

<span class="h2">Presidential Fellowship</span>
<span class="content1">Fall 2017 to 2019</span>
<span class="content2 mbl">Georgia Tech Office of the President and the School of Physics, $5,500/yr for two years</span>

<span class="h2">Florida State University IDEA Grant</span>
<span class="content1">Summer 2016</span>
<span class="content2 mbl">Center for Undergraduate Research and Academic Engagement, $4,000</span>  

<span class="h2">Bright Futures Medallion Scholarship</span>
<span class="content1">Fall 2011 to Spring 2016</span>
<span class="content2 mbl">Florida Department of Education, Approximately $9,300</span>                                                
<h1 class="h1">Honors</h1>

<span class="h2">Phi Beta Kappa Honor Society</span>
<span class="content1 mbl">Spring 2017 to Present</span>

<span class="h2">Invitation to join Sigma Pi Sigma, National Physics Honor Society</span>
<span class="content1">Spring 2016</span> 
<span class="content2 mbl">Recognition of high scholarship in physics</span> 

<span class="h2">Presidents List</span>
<span class="content1">Florida State University. Fall 2013, Summer 2014, Spring 2015, Fall 2016</span> 
<span class="content2 mbl">High academic standing, 4.0 GPA</span>

<span class="h2">Golden Key Honor Society</span>
<span class="content1 mbl">Fall 2014 to Present</span> 
                  
<h1 class="h1">Leadership</h1>

<span class="h2">Astronomy Club of FSU, Senior Leader</span>
<span class="content1">2016</span> 
<span class="content2">- Founding member of the first astronomy club at FSU</span> 
<span class="content2">- Teaching undergraduates how use telescopes</span> 
<span class="content2 mbl" >- Giving advice on how to get involved with undergraduate research</span> 