{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover-card table-cell table-middle">
  {% if author.avatar %}
  <a href="{{ site.url }}/">
    <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar" >
  </a>
  {% endif %}
  <a href="{{ site.url }}/" class="author_name">{{ author.first_name }}</a>
  <a href="{{ site.url }}/" class="author_name">{{ author.last_name }}</a>  
  <a class="author_job">{{ author.job }}</a>
  <a href="{{ author.institute_url }}" class="author_bio ">{{ author.institute }}</a>
  <a href="{{ author.group_url }}" class="author_bio ">{{ author.group }}</a>
  <a href="{{ author.street_map_url }}" class="author_bio mbm">{{ author.street }}</a>
  
  {% include social-links.html %}

  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="{{ site.url }}/" onclick="activate()">cv</a>
      </li>      
      <li class="nav-item">
        <a href="{{ site.url }}/about_me.html" onclick="activate()">about_me</a>
      </li>   
      <li class="nav-item">
        <a href="{{ site.url }}/research.html" onclick="activate()">research</a>
      </li>         
    </ul>
  </nav>

</div>


